<p align="center">
    Like the app? Consider supporting me via PayPal!
</p>
<p align="center">
    <a href="https://www.paypal.com/donate/?hosted_button_id=JMYLMVGSKXXEW">
        <img src="https://img.shields.io/badge/PayPal-00457C?style=for-the-badge&logo=paypal&logoColor=white"
            alt="Donate with PayPal" width="145" />
    </a>
</p>

---

{{#each releases}}
    {{#if tag}}
        ### {{tag}} | {{niceDate}}
    {{else}}
        ## Latest | {{niceDate}}
    {{/if}}

    {{#if summary}}
        {{summary}}
    {{/if}}

    {{#each merges}}
        - {{#if commit.breaking}}**Breaking change:** {{/if}}{{message}}{{#if href}} [`#{{id}}`]({{href}}){{/if}}
    {{/each}}
    {{#each fixes}}
        - {{#if commit.breaking}}**Breaking change:** {{/if}}{{commit.subject}}{{#each fixes}}{{#if href}}
                [`#{{id}}`]({{href}}){{/if}}{{/each}}
    {{/each}}
    {{#each commits}}
        - {{#if breaking}}**Breaking change:** {{/if}}{{subject}}{{#if href}} [`{{shorthash}}`]({{href}}){{/if}}
    {{/each}}
    ---
{{/each}}