<p align="center">
    Like the app? Consider supporting me!
</p>
<p align="center">
    <a href="https://www.paypal.com/donate/?hosted_button_id=RQFDVMBP397KG">
        <img src="https://img.shields.io/badge/PayPal-00457C?style=for-the-badge&logo=paypal&logoColor=white"
            alt="Donate with PayPal" width="145" />
    </a>
    <a href="https://www.buymeacoffee.com/enubia" target="_blank">
        <img src="https://img.shields.io/badge/Buy%20me%20a%20coffee-FFDD00?style=for-the-badge&logo=buy-me-a-coffee&logoColor=black"
            alt="Buy Me A Coffee" width="245" />
    </a>
    <a href="https://ko-fi.com/enubia">
        <img src="https://img.shields.io/badge/Ko--fi-FF5E5B?style=for-the-badge&logo=ko-fi&logoColor=white"
            alt="Buy Me A Coffee" width="126" />
    </a>
</p>

---

{{#each releases}}
    {{#if tag}}
        ### {{tag}} | {{niceDate}}
    {{else}}
        ## Latest | {{niceDate}}
    {{/if}}

    {{#if summary}}
        {{summary}}
    {{/if}}

    {{#each merges}}
        - {{#if commit.breaking}}**Breaking change:** {{/if}}{{message}}{{#if href}} [`#{{id}}`]({{href}}){{/if}}
    {{/each}}
    {{#each fixes}}
        - {{#if commit.breaking}}**Breaking change:** {{/if}}{{commit.subject}}{{#each fixes}}{{#if href}}
                [`#{{id}}`]({{href}}){{/if}}{{/each}}
    {{/each}}
    {{#each commits}}
        - {{#if breaking}}**Breaking change:** {{/if}}{{subject}}{{#if href}} [`{{shorthash}}`]({{href}}){{/if}}
    {{/each}}
    ---
{{/each}}