<template>
    {{#each releases}}
        {{#if tag}}
            <h2 class='py-2 text-2xl font-semibold'>{{tag}} | {{niceDate}}</h2>
        {{else}}
            <h2 class='py-2 text-2xl font-semibold'>Latest | {{niceDate}}</h2>
        {{/if}}

        {{#if summary}}
            {{summary}}
        {{/if}}

        <div class='grid gap-1'>
            {{#each merges}}
                <span>
                    {{#if commit.breaking}}<b>Breaking change:</b> {{/if}}
                    {{format message}}
                    {{#if href}}
                        <a href={{href}} class='text-blue-500'>#{{id}}</a>
                    {{/if}}
                </span>
            {{/each}}
            {{#each fixes}}
                <span>
                    {{#if commit.breaking}}<b>Breaking change:</b> {{/if}}
                    {{format commit.subject}}
                    {{#if href}}
                        <a href={{href}} class='text-blue-500'>#{{id}}</a>
                    {{/if}}
                </span>
            {{/each}}
            {{#each commits}}
                <span>
                    {{#if breaking}}<b>Breaking change:</b> {{/if}}
                    {{format subject}}
                    {{#if href}}
                        <a href={{href}} class='text-blue-500'>{{shorthash}}</a>
                    {{/if}}
                </span>
            {{/each}}
        </div>
        <hr class='mt-2' />
    {{/each}}
</template>